<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <title>Đặt lại mật khẩu</title>
</head>
<body>
    <h2>Đặt lại mật khẩu</h2>
    <form method="post">
        {% csrf_token %}
        <label for="code">Mã reset mật khẩu:</label>
        <input type="text" name="code" class="form-control" placeholder="Nhập mã reset mật khẩu" required>

        <label for="new_password1">Mật khẩu mới:</label>
        <input type="password" name="new_password1" class="form-control" placeholder="Nhập mật khẩu mới" required>

        <label for="new_password2">Xác nhận mật khẩu mới:</label>
        <input type="password" name="new_password2" class="form-control" placeholder="Xác nhận mật khẩu mới" required>

        <button type="submit" class="btn btn-primary mt-3">Đặt lại mật khẩu</button>
    </form>

    {% if messages %}
        <ul class="mt-3">
            {% for message in messages %}
            <li class="text-danger">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
